.git
.idea
.env
**/.env
.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.pytest-temp-*
**/node_modules
**/dist
Docker Desktop Installer.exe
*.msi
evaluation/datasets/test.jsonl
